.search-001
{
    position: relative;
    width: 100%;
    height: auto;
}

.search-001--input
{
    width: 100%;
    height: 50px;
    padding: 0 20px 0 20px;
    color: #000;
    outline: none;
    border: 1px solid #CCC;
}

.search-001--input::placeholder
{
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: #A0A8AB;
}

.search-001--icon
{
    position: absolute;
    width: 15px;
    height: 15px;
    right: 20px;
    top: 50%;
    margin-top: -10px;
    cursor: pointer;
}

.search-001--icon-svg
{
    width: 20px;
    height: 20px;
}

.search-001--icon-svg-path
{
    fill: #000;
}